.create-activity > h2{
    font-family: LilitaOne;
    text-align: left;
    margin-left: 10%;
}
.create-activity > form > button {
    width: 20vh;
    background-color: #63d0ff;
    color: black;
    padding: 14px 20px;
    margin: 8px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-activity > form > input[type=text] {
    width: 50vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.create-activity > form > button:hover {
    background-color: rgba(7, 112, 196, 0.9);
}

.create-activity > form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 60vh;
    margin-left: 10%;
}

.create-activity > form > p{
    color: red;
    font-weight: bold;
}
