.account{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
    font-family: LilitaOne;
}

.profile{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
}

.board{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.user-data{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}