.user-profile > h1, h2{
    text-align: center;
    font-family: LilitaOne;
}

.summary > p{
    text-align: center;
}

.user-profile > h1{
    margin: 3vh;
}

.user-profile{
    display: flex;
    flex-direction: column;
}

#notice{
    text-align: center;
    color: red;
}

.summary > table{
    text-align: center;
    margin: 0 auto 0 auto;
    background-color: #f2f2f2;
    width: 60vh;
}
.summary > table > thead > tr > th{
    padding: 1vh;
}
