.history > table{
    width: 70vh;
    background-color: #f2f2f2;
    padding: 1px;
}

.history{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

td.mid-col, td.right-col, td.left-col{
    text-align: center;
}

#total-mins{
    font-weight: bold;
    border-top: black solid 1px;
}

#final-row{
    border-top: black solid 1px;
}

#empty-log{
    text-align: center;
}

.history> p{
    margin-top: 0;
    margin-bottom: 0;
}

.trash{
    border: none;
    background-color: #f2f2f2;
}

.trash:hover{
    color: red;

}

#trash-header{
    border: none;
}

.add-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button.hist-button{
    width: 15vh;
    height: 4vh;
    background-color: #63d0ff;
    color: black;
    margin-bottom: 1vh;
    margin-top: 1vh;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.hist-button:hover {
    background-color: rgba(7, 112, 196, 0.9);
}

