.week-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.week-container > h2{
    margin: 0.25%;
    font-family: LilitaOne;
}

.change-week > input{
    width: 6%;
}

.change-week{
    text-align: left;
    display: flex;
    justify-content: center;
}




